.button-container {
    margin-top: 6em;
    margin-left: 3.5em;
}

.edit-button{
    margin-right: .5em;
    width: 80px;
    height: 40px;
    background-color: red;
}

.delete-button{
    width: 80px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
}