.button-container {
    margin-top: 6em;
    margin-left: 3.5em;
}

.edit-button{
    width: 80px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
    margin-right: 1em;
}

.edit-button:hover{
    cursor: pointer;
}

.delete-button{
    width: 80px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
}

.delete-button:hover{
    cursor: pointer;
}

.owner-spots-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}