.edit-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 29em;
}

.input-labels,
.edit-container{
    width: 52%;
}

.input-title{
    margin-bottom: .5em;
}

.title-description,
.big-input-title{
    font-weight: 80;
}

.edit-input{
   width: 500px;
   min-height: 40px;
   border-radius: 10px;
   border-color: rgba(72, 72, 72, 0.3);
}

.edit-forms{
    padding-bottom: 10px;

}

#edit-button{
    width: 8em;
    height: 4em;
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
}

.edit-errors{
    margin-right: 30em;
}

 .edit-blocks{
    list-style-type: none;
    color: rgb(227, 28, 95);
 }
.edit-text{
    width: 550px;
}

.edit-forms-container{
    margin-right: 1em;
}

.button-container {
    margin-top: 1em;
    margin-left: 12em;
}

#desc-box {
    resize: none;
    overflow-y: auto;
    padding: 5px;
    height: 10em;
    margin-bottom: 1em;
  }