.review-main-div{
  margin-left: 4em;
}


#delete-review-button {
  width: 80px;
  height: 40px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 8px;
  margin-top: .5em;
  margin-bottom: 1em;
  }

  #delete-review-button:hover{
    cursor: pointer;
  }

#review-count {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
}
  
.dot-separator {
  display: inline-block;
  vertical-align: middle;
}

.reviewer-name{
  font-size: larger;
  margin-bottom: .5em;
}

.month-year{
  color: grey;
  font-size: medium;
  margin-bottom: .5em;
}

.actual-review {
  margin-bottom: .5em;
}

#star{
  margin-bottom: .5em;
  padding: 1em;
  width: 150%;
}

.star-block {
  border-bottom: solid grey 2px;
  margin-bottom: 1em;
  width: 55em;
}

#new {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
  margin-bottom: .2em;
  font-size: x-large;
}

#no-review-text {
  font-size: larger;
}